@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {

  name: "main-theme";
  default: true;
  prefersdark: false;
  color-scheme: light;

  /* fonts */
  --font-sans: 'Inter', sans-serif;

  /* Main colors */
    --color-primary: oklch(65.62% 0.23 16.99) !important;
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(30.99% 0.0206 269.45);
    --color-secondary-content: oklch(100% 0 0);

    /* Background colors */
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98.16% 0.0017 247.84);
    --color-base-300: oklch(96.32% 0.0034 247.86);
    --color-base-content: oklch(22.23% 0.006 271.14);

    /* Accent and state colors */
    --color-accent: oklch(65.62% 0.23 16.99);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(55.44% 0.0407 257.42);
    --color-neutral-content: oklch(100% 0 0);

    /* Status colors */
    --color-info: oklch(62.31% 0.188 259.81);
    --color-info-content: oklch(100% 0 0);
    --color-success: oklch(72.27% 0.192 149.58);
    --color-success-content: oklch(100% 0 0);
    --color-warning: oklch(76.86% 0.1647 70.08);
    --color-warning-content:oklch(100% 0 0);
    --color-error:oklch(65.62% 0.23 16.99);
    --color-error-content: oklch(100% 0 0);
}

:root {
  /* fonts */
  --font-sans: 'Inter', sans-serif;

  /* Main colors */
    --color-primary: oklch(65.62% 0.23 16.99);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(30.99% 0.0206 269.45);
    --color-secondary-content: oklch(100% 0 0);

    /* Background colors */
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98.16% 0.0017 247.84);
    --color-base-300: oklch(98.83% 0.0045 214.33);
    --color-base-content: oklch(22.23% 0.006 271.14);

    /* Accent and state colors */
    --color-accent: oklch(65.62% 0.23 16.99);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(55.44% 0.0407 257.42);
    --color-neutral-content: oklch(100% 0 0);

    /* Status colors */
    --color-info: oklch(62.31% 0.188 259.81);
    --color-info-content: oklch(100% 0 0);
    --color-success: oklch(72.27% 0.192 149.58);
    --color-success-content: oklch(100% 0 0);
    --color-warning: oklch(76.86% 0.1647 70.08);
    --color-warning-content:oklch(100% 0 0);
    --color-error:oklch(65.62% 0.23 16.99);
    --color-error-content: oklch(100% 0 0);
}
